@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  width: 100%; 
}

body section .background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

div .nomekop {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 12;
}

button {
    position: absolute;
    font-weight: bold;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

button:hover {
    background-color: #BBB;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #999;
}

.neon-pulse {
  background: #000;
  border: 2px solid #0ff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  overflow: visible;
}

.neon-pulse::before,
.neon-pulse::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid #0ff;
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

.neon-pulse::after {
  animation-delay: 1s;
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

div .pokemon-ball {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    z-index: 0;
}
